$this: 'c-heading' !global;

.#{$this} {
  background-color: $BLACK;
  text-align: center;
  padding: 10px;

  @include breakpoint('>=', 'ms') {
    padding: 40px;
  }

  &__link {
    text-decoration: none;
  }

  &__text {
    color: $WHITE;
    font-size: 30px;
    font-family: $FONT_REGULAR;
    margin: 0;

    @include breakpoint('>=', 'ms') {
      font-size: 40px;
    }
  }
}
